/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  box-shadow: 8px 8px 10px 7px #0000001a;
}

.active-arrow > span[class^="icon"] {
  display: none !important;
}

.img-zoom {
  animation: zoom-in-out 5s infinite ease-in-out;
}

@keyframes zoom-in-out {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

button {
  white-space: nowrap !important;
}
